
.outer-board {
    position: absolute;
}
.board {
    display: block;
    border: 1px solid black;
    position: relative;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    background-color: lightblue;
}

.basket-head {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100px;
    height: 150px;
    border: 1px solid black;
    left: 500px;
}

.basket {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.fruit {
    width: 25px;
    height: 25px;
}

.fruit-list {
    cursor: pointer;

}