body, ul, div, p, li{
    font-family: 'Permanent Marker', serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-cartoon-hand-drawn-kitchen-cooking-poster-vector-background-image_165072.jpg);
    background-size: contain;
}
.title {
    position: absolute;
    font-size: 50px;
    color: rgb(167, 51, 115);
    text-shadow: 2px 2px #000000;
    left: 450px;
}
.outer-board {
    position: absolute;
}
.board {
    display: block;
    position: relative;
    border: 1px solid black;
    background-color: rgb(250, 223, 189);
    border-radius: 15px;
    left: 350px;
    top: 100px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-image: url(https://www.clipartkey.com/mpngs/m/188-1881028_cartoon-fat-pigs-clipart-png-download-cartoon-pig.png);
    background-size: 25px;
    border-radius: 15px;
}

.basket-outer, .target, .streak-outer, .timer-outer {
    background-color: lightgreen;
    color: darkkhaki;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100px;
    border: 1px solid black;
    left: 150px;
    top: 200px;
    border-radius: 15px;
}


.basket, .target-basket{
    display: flex;
    position: absolute;
    list-style: none;
    flex-wrap: wrap;
    top: 35px;
    
}

.fruit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 25px;
}

.fruit-list {
    cursor: pointer;
    width: 25px;
    height: 25px;
}



.target {
    background-color: rgb(208, 255, 196);
    color: rgb(68, 218, 38);
    top: 100px;
}

.streak-outer {
    color: crimson;
    background-color: rgb(255, 183, 197);
    top: 400px;
}

.timer-outer {
    color: rgb(0, 0, 0);
    background-color: lightsteelblue;
    top: 300px;
}

#timer, #streak {
    font-size: 40px;
}

